@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a { text-decoration: none; color: inherit; outline: 0; }
body a {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}

h3 {
    display: flex;
    width: 100%;
    font-size: 15px;
    padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
    display: flex;
    align-items: center;
    background-color: #074691;
    color: #EEEEEE;
    height: 60px;
}

.page-header a {
    color: #EEEEEE;
}

.header-nav {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 20px;
}

.header-nav-right {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 20px 0 auto;
}


.page-main {
    display: flex;
    padding: 0;
    flex: 1 1 auto;
}

.page-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #333333;
    color: #EEEEEE;
    max-height: 0px;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    width: 240px;
    background-color: #363636;
    color: #EEEEEE;
}

.sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px 20px;
}

.sidebar a {
    color: #EEEEEE;
}

.sidebar-nav-first {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}

.workspace-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
}


.workspace {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.project-workspace {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.main-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #E9F2FD;
    color: #3A3A3A;
}

.setting-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    background: #FBFBFF;
    color: #3A3A3A;
    padding: 20px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.project__item {
    margin: 10px;
    background: #DEDEDE;
    border-radius: 5px;
}

.project__param-wrapper {
    display: flex;
    margin: 0 20px 20px 20px;
}

.project__param {
    display: flex;
    margin: 10px 20px 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.setting-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 80px;
}

.setting {
    display: flex;
    flex-direction: column;
}

.setting__row {
    display: flex;
		flex-direction: column;
    margin: 4px 20px;
}

.setting__name {
    display: flex;
}

.setting__comment {
    display: flex;
    padding: 0 8px;
}

.setting__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #074691;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 8px;
}

.completed {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.completed__item {
    display: flex;
    font-size: 16px;
    padding: 8px;
}

.main-bar-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: #074691;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 20px 0 0;
    padding: 2px 8px 2px;
}

.button a {
    text-decoration: none;
}

.button-light {
    background-color: #E9F2FD;
    color: #454545;
}

.button-sidebar {
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0 0 0 12px;
    font-size: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.flex-row-setting {
    min-height: 40px;
    align-items: center;
}

#copyright {
    font-size: 12px;
    margin: 0 20px;
}

#logo-img {
    margin: 0 10px;
}

#main-word {
    display: flex;
    font-size: 24px;
    color: #EEEEEE;
    width: 220px;
    margin-bottom: 4px;
}

.color-good {
    background: #CCFFDD;
}

.color-bad {
    background: #FFDDCC;
}

.color-pos-1-5 {
    background: #CCFFDD;
}

.color-pos-6-12 {
    background: #DDFFDD;
}

.color-pos-13-19 {
    background: #FFFFDD;
}

.color-pos-20-29 {
    background: #FFDDAA;
}

.color-pos-30-39 {
    background: #FFDDBB;
}

.color-pos-40-49 {
    background: #FFDDCC;
}

.color-pos-50-100 {
    background: #FFCCBB;
}

.report-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.workspace__data {
		display: flex;
		flex-direction: column;
		justify-content: center;
}

.resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
.resp-tab th, .resp-tab td {
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    border: 1px solid #337AB7;
    vertical-align: top;
}
.resp-tab th {
    color: #FFF;
    background: #337AB7;
    font-weight: bold;
    border: 1px solid #1a4a73;
    text-transform: uppercase;
    text-align: center;
}
.resp-tab tr:nth-child(even) {
    background: #edf7ff;
}
.resp-tab td span {
    background: #337AB7;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}
@media(max-width: 768px) {
    .resp-tab thead {
        display: none;
    }
    .resp-tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp-tab td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
    .resp-tab td span {
        display: block;
    }
}
@media(max-width: 480px) {
    .resp-tab td {
        width: 100%;
    }
}
