{% load static project_tags %}

<!doctype html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>Отчёт Очка</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div class="wrapper">
			<div class="page-header">
				<div class="logo-wrapper">
					<a href="https://flexites.org/" target="_blank">
						<img id="logo-img" src="{% static 'img/logo.png' %}" />
					</a>
				</div>
				<div id="main-word">
                    <a href="/">report</a>
				</div>
				<a href="http://position-system.flexidev.ru/" target="_blank" class="header-nav">
					Позиции
				</a>
				<a href="https://support.flexites.org/" target="_blank" class="header-nav">
					Support
				</a>
				<a href="https://www.notion.so/flexites/34d88a44ca3749b19cdd6d8b7e8fdc13" target="_blank" class="header-nav">
					Отчеты (Notion)
				</a>
				<div class="header-nav-right">
					<a href="/admin/">Адмынка</a>
				</div>
			</div>
			<div class="page-main">
				<div class="sidebar">
                    {% get_projects %}
				</div>
				<div class="workspace">
                    {% block content %}
                    {% endblock %}
				</div>
			</div>
            <div class="page-footer">
                <span id="copyright">
                    copyright 2020-2022 Витя Ювелир
                </span>
            </div>
		</div>
	</body>
</html>
