{% extends "base.html" %}

{% block content %}
    <div class="main-bar">
        <div class="flex-row">
            <h1>
                Пиши давай отчеты!
            </h1>
        </div>
    </div>
    <div class="project">
    {% for project in projects %}
        <div class="project__item">
            <h2><a href="project/{{ project.slug }}">{{ project.name }}</h2></a>
            <div class="project__param-wrapper">
                <div class="project__param">
                    <a href="project/{{ project.slug }}">Отчеты</a>
                </div>
                <div class="project__param">
                    <a href="{{ project.site }}">Сайт</a>
                </div>
                <div class="project__param">
                    <a href="https://metrika.yandex.ru/dashboard?id={{ project.metrika_id }}">Я.Метрика</a>
                </div>
                <div class="project__param">
                    <a href="https://webmaster.yandex.ru/site/{{ project.yawm_id }}/dashboard/">Я.Вебмастер</a>
                </div>
                <div class="project__param">
                    <a href="https://support.flexites.org/employee/clients/projects/project/?project_id={{ project.support_id }}">Support</a>
                </div>
            </div>
        </div>
    {% endfor %}       
    </div>
{% endblock %}