{% extends "base.html" %}

{% block content %}
    <div class="main-bar">
        <div class="flex-row">
            <h1>
                Отчет по проекту {{ this_project.name }}
            </h1>
        </div>
    </div>
    <div class="project-workspace">
      <div class="workspace__buttons">
        <div class="setting">
          <h2>Обязательные пункты</h2>
            {% for setting in settings %}
              {% if setting.required_setting == True %}
                <div class="setting__row">
                  <div class="setting__button">
                    <a href="{{ setting.initial_url }}" target="_blank">{{ setting.name }}</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            <h2>Необязательные пункты</h2>
            {% for setting in settings %}
              {% if setting.required_setting == False %}
                <div class="setting__row">
                  <div class="setting__button">
                    <a href="{{ setting.initial_url }}" target="_blank">{{ setting.name }}</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="workspace__data">
          {{ report_body|safe }}
        </div>
<!--
        <h2>Список выполненных отчетов по проекту {{ this_project.name }}</h2>
        <div class="completed">
        {% for report in reports %}
            <div class="completed__item">
                <a href="{{ report.url }}" target="_blank">{{ report.period }}</a>
            </div>
        {% endfor %}
        </div>
-->
    </div>
{% endblock %}
