<div class="sidebar-nav-first">
    Проекты
</div>
    {% for my_project in my_projects %}
        <div class="sidebar-nav">
            <a href="/project/{{ my_project.slug }}">{{ my_project.name }}</a>
        </div>
    {% empty %}
        <div class="sidebar-nav">
            нет проектов
        </div>
    {% endfor %}